#--- other--#
monthly_data
monthly_data/
get_ids.py
clean_dta.py
filter_data.py
lite.json



# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl

# --- Virtual environment ---
venv/
venv
.env/
.venv/

# --- Jupyter ---
.ipynb_checkpoints/

# --- Logs ---
*.log

# --- Build / packaging ---
build/
dist/
*.egg-info/
.eggs/

# --- Cache ---
.cache/
.pytest_cache/

# --- IDE / Editor ---
.vscode/
.idea/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Local data ---
*.csv
